<footer class="footer bg-white py-48 sm-py-32">
	<div class="container">
		<div class="f-row mb-32">
			<div class="f-row-col">
				<div class="f-logo-hold">
					<a href="#!" class="f-logo" aria-label="Roos Home">
						<img src="./images/roos-logo.svg" alt="Roos Logo">
					</a>

					<div class="f-logo-sub fs-sm lh-17">
						<p class="mb-0">Roos - Delivering solutions that move you forward</p>
					</div>

					<div class="f-social">
						<p class="f-social-ttl mb-16 fw-600">Follow us on</p>
						<ul class="social">
							<li>
								<a href="#!" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Instagram"><i
										class="icon-instagram"></i></a>
							</li>
							<li>
								<a href="#!" target="_blank" rel="noopener noreferrer" aria-label="Follow us on LinkedIn"><i
										class="icon-linkedin"></i></a>
							</li>
							<li>
								<a href="#!" target="_blank" rel="noopener noreferrer" aria-label="Follow us on YouTube"><i
										class="icon-youtube"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="f-row-col">
				<div class="f-nav fs-sm lh-17">
					<h5 class="h5 f-nav-ttl">Products</h5>
					<div class="f-nav-content">
						<ul>
							<li><a href="#!">Ford Transit</a></li>
							<li><a href="#!">Mercedes Sprinter</a></li>
							<li><a href="#!">Peugeot Boxer</a></li>
							<li><a href="#!">Fiat Ducato</a></li>
							<li><a href="#!">Application Guides</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="f-row-col">
				<div class="f-nav fs-sm lh-17">
					<h5 class="h5 f-nav-ttl">Help</h5>
					<div class="f-nav-content">
						<ul>
							<li><a href="#!">Privacy Policy</a></li>
							<li><a href="#!">Terms & Conditions</a></li>
							<li><a href="#!">Contact Us</a></li>
							<li><a href="#!">FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="f-row-col">
				<div class="f-news">
					<h5 class="h5 f-news-ttl">Newsletter</h5>
					<p class="f-news-sub fs-sm lh-17">Be ready to get information on discount and attractive offers from ROOS</p>
					<form class="news-form">
						<div class="news-form-iw">
							<input class="news-form-input" id="" type="text" placeholder="Enter your Email">
						</div>
						<div class="news-form-bw">
							<button class="news-form-btn" type="submit">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<span class="f-copy fs-xs">Copyright © 2025 ROOS - All Rights Reserved.</span>
	</div>
</footer>