<header id="header" class="header lg-py-16 py-32 _show">
    <div class="container">
        <div class="h">
            <div class="h-left">
                <a href="#!" class="h-logo">
                    <img src="./images/roos-logo.svg" alt="Roos Logo">
                </a>

                <div class="h-cat">
                    <button class="h-cat-btn" type="button">Categories <i class="icon-chevron-down"></i></button>
                    <div class="h-cat-drop">
                        <div class="h-cat-drop-in">
                            <ul class="h-cat-list">
                                <li>
                                    <a href="#!">Ford Transit</a>
                                </li>
                                <li><a href="#!">Ford eTransit</a></li>
                                <li><a href="#!">Mercedes Sprinter</a></li>
                                <li><a href="#!">Mercedes eSprinter</a></li>
                                <li><a href="#!">Ford Custom</a></li>
                                <li><a href="#!">Mercedes Vito</a></li>
                                <li><a href="#!">Mercedes eVito </a></li>
                                <li><a href="#!">Peugeot Boxer</a></li>
                                <li><a href="#!">Citroën Jumpy</a></li>
                                <li><a href="#!">Fiat Ducato</a></li>
                                <li><a href="#!">Individual Parts</a></li>
                                <li><a href="#!">Application Guides</a></li>
                                <li>
                                    <a href="#!">Ford Transit</a>
                                </li>
                                <li><a href="#!">Ford eTransit</a></li>
                                <li><a href="#!">Mercedes Sprinter</a></li>
                                <li><a href="#!">Mercedes eSprinter</a></li>
                                <li><a href="#!">Ford Custom</a></li>
                                <li><a href="#!">Mercedes Vito</a></li>
                                <li><a href="#!">Mercedes eVito </a></li>
                                <li><a href="#!">Peugeot Boxer</a></li>
                                <li><a href="#!">Citroën Jumpy</a></li>
                                <li><a href="#!">Fiat Ducato</a></li>
                                <li><a href="#!">Individual Parts</a></li>
                                <li><a href="#!">Application Guides</a></li>
                            </ul>
                        </div>
                        <div class="h-cat-drop-bot">24 categories</div>
                    </div>
                </div>
            </div>
            <div class="h-right">
                <div class="h-search-wrap">
                    <form action="#!" class="h-search">
                        <div class="h-search-in">
                            <i class="h-search-icon icon-magnifying-glass"></i>
                            <input class="h-search-input" type="text" placeholder="Search..." name="" id="">
                        </div>
                        <button type="button" class="h-search-close">
                            <i class="icon-x"></i>
                        </button>
                    </form>
                    <!-- Display property should be controlled within search logic -->
                    <div class="h-search-results" style="display: none;">
                        <div class="h-search-results-in">
                            <span class="h-search-results-ttl">Search results</span>
                            <ul class="h-search-results-list">
                                <li>
                                    <a href="#!">Pre-2024 FITTING GUIDE - Ford Transit L3H3 (IT)</a>
                                </li>
                                <li><a href="#!">Cab Label Kit Ice Ford Transit (DE)</a></li>
                            </ul>
                            <div class="h-search-results-in-bot"><a href="#!" class="h-search-results-btn">View all 16
                                    results</a></div>
                        </div>
                        <div class="h-search-results-in mobile-full">
                            <span class="h-search-results-ttl">Categories</span>
                            <ul class="h-search-results-list">
                                <li>
                                    <a href="#!">Ford Transit</a>
                                </li>
                                <li><a href="#!">Ford eTransit</a></li>
                                <li><a href="#!">Mercedes Sprinter</a></li>
                                <li><a href="#!">Mercedes eSprinter</a></li>
                                <li><a href="#!">Ford Custom</a></li>
                                <li><a href="#!">Mercedes Vito</a></li>
                                <li><a href="#!">Mercedes eVito </a></li>
                                <li><a href="#!">Peugeot Boxer</a></li>
                                <li><a href="#!">Citroën Jumpy</a></li>
                                <li><a href="#!">Fiat Ducato</a></li>
                                <li><a href="#!">Individual Parts</a></li>
                            </ul>
                            <div class="h-search-results-in-bot"><span class="h-search-results-btn">24 categories</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="h-btn-search">
                    <i class="icon-magnifying-glass"></i>
                </button>
                <button type="button" class="h-btn">
                    <i class="icon-cart"></i>
                </button>
                <a href="#!" class="h-btn tablet-hidden">
                    <i class="icon-user"></i>
                </a>
                <button type="button" class="h-btn desktop-hidden">
                    <i class="icon-list"></i>
                </button>
            </div>
        </div>
    </div>
</header>