@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?l8tr6i");
  src:
    url("../fonts/icomoon.eot?l8tr6i#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?l8tr6i") format("truetype"),
    url("../fonts/icomoon.woff?l8tr6i") format("woff"),
    url("../fonts/icomoon.svg?l8tr6i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e909";
}
.icon-x:before {
  content: "\e90a";
}
.icon-check-circle:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e907";
}
.icon-magnifying-glass:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
