// Import partials
@use "variables" as *;
@use "mixins" as *;
@use "utilities" as *;

@use "icomoon" as *;
@use "footer" as *;

// Generate CSS variables from color map
@include generate-color-variables($colors);
@include generate-heading-vars($heading-sizes);

:root {
  --gutter: 32px;

  --fs-base: 16px;
  --fs-lg: 20px;
  --fs-sm: 14px;
  --fs-xs: 12px;
  --fs-xxs: 10px;

  --lh-base: 1.5;
  --ff-base: "Sora", Arial, sans-serif;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

  @include media(md) {
    --fs-lg: 18px;
  }

  @include media(xs) {
    --gutter: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}

html {
  padding: env(safe-area-inset);
}

body {
  font-family: var(--ff-base);
  font-weight: 400;
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--color-gray-700);
  letter-spacing: -0.01em;
  background-color: #f5f5f5;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.02em;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

a,
button,
input {
  transition: all 0.2s ease;
}

input,
button {
  outline: none;
  box-shadow: none;
  -webkit-appearance: textarea;
  letter-spacing: inherit;
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.fs-xxs {
  font-size: var(--fs-xxs);
}

.lh-12 {
  line-height: 120%;
}

.lh-13 {
  line-height: 130%;
}

.lh-14 {
  line-height: 140%;
}

.lh-15 {
  line-height: 150%;
}

.lh-16 {
  line-height: 160%;
}

.lh-17 {
  line-height: 170%;
}

.fw-600 {
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: clip;
}

.main,
.header,
.footer {
  min-width: 0;
}

.container {
  max-width: 1376px;
  padding-inline: var(--gutter);
  margin-inline: auto;
}

.news-form {
  display: flex;
  gap: 8px;

  &-iw {
    display: flex;
    flex: 1;
  }

  &-bw {
    flex-shrink: 0;
  }

  &-input,
  &-btn {
    font-size: var(--fs-base);
    line-height: normal;
    padding: 13px 16px;
    outline: none;
    box-shadow: none;
  }

  &-input {
    font-weight: 400;
    min-width: 0;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: var(--radius-xs);

    @include placeholder {
      color: red;
      opacity: 1;
      color: var(--color-gray-500);
    }

    &:focus {
      @include placeholder {
        color: var(--color-gray-700);
      }
    }
  }

  &-btn {
    background-color: var(--color-gray-600);
    border: 1px solid var(--color-gray-600);
    color: var(--color-white);
    font-weight: 600;
    border-radius: var(--radius-sm);
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
      border-color: var(--color-gray-500);
      background-color: var(--color-gray-500);
    }
  }
}

.social {
  padding: 0 10px;
  margin: 0;
  list-style: none;
  font-size: 21px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 27px;

  li {
    display: inline-flex;
    align-items: center;
  }

  a {
    color: var(--color-gray-700);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    aspect-ratio: 1/1;
    height: auto;

    &:hover {
      color: var(--color-green-600);
    }
  }

  .icon-youtube {
    font-size: 1.1428em;
  }
}

.hl {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  &-link {
    color: var(--color-green-600);
    text-decoration: none;
    align-self: center;

    &:hover {
      color: var(--color-green-700);
    }
  }
}

.bg-str {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cd-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.cd {
  display: flex;
  flex-direction: column;

  &-img {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
    width: 100%;
    height: auto;
    aspect-ratio: 310/240;

    img {
      @extend .bg-str;
    }
  }

  &-info {
    display: grid;
    grid-template-columns: unset;
    gap: 6px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;

    &-up {
      flex: 1;
    }

    &-bot {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      padding-right: 8px;

      &__l {
        color: var(--color-gray-500);
        font-size: var(--fs-xs);
        line-height: 150%;
        display: grid;
        grid-template-columns: unset;
        gap: 7px;
      }

      &__lu {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        color: var(--color-gray-700);
      }

      &__ld {
        display: flex;
        gap: 8px;
      }

      &__lp {
        font-size: var(--h5);
        line-height: 100%;
        font-weight: 600;
        color: var(--color-green-600);
      }

      &__r {
        flex-shrink: 0;
      }
    }
  }

  &-btn {
    border-radius: var(--radius-sm);
    background-color: var(--color-green-600);
    color: var(--color-white);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
      background-color: var(--color-green-700);
    }

    .icon-cart {
      font-size: 24px;
      line-height: 1;
    }
  }

  &-ttl {
    line-height: 140%;
    color: var(--color-gray-700);
    transition: color 0.1s ease;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      text-decoration: none;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--color-green-600);
      }
    }
  }

  &-sub {
    font-size: var(--fs-sm);
    line-height: 150%;
    color: var(--color-gray-500);
  }
}
