// Import partials
@use "variables" as *;
@use "mixins" as *;
@use "utilities" as *;

@use "icomoon" as *;
@use "footer" as *;
@use "swiper-custom" as *;

@import "swiper-bundle.min.css";

// Generate CSS variables from color map
@include generate-color-variables($colors);
@include generate-heading-vars($heading-sizes);

:root {
  --gutter: 32px;

  --fs-base: 16px;
  --fs-lg: 20px;
  --fs-sm: 14px;
  --fs-xs: 12px;
  --fs-xxs: 10px;

  --lh-base: 1.5;
  --ff-base: "Sora", Arial, sans-serif;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-2xl: 24px;

  --btn-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);

  @include media(md) {
    --fs-lg: 18px;
  }

  @include media(xs) {
    --gutter: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}

html {
  padding: env(safe-area-inset);
}

body {
  font-family: var(--ff-base);
  font-weight: 400;
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--color-gray-700);
  letter-spacing: -0.01em;
  background-color: #f5f5f5;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.02em;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

a,
button,
input {
  transition: all 0.2s ease;
}

input,
button {
  outline: none;
  box-shadow: none;
  -webkit-appearance: textarea;
  letter-spacing: inherit;
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.fs-xxs {
  font-size: var(--fs-xxs);
}

.lh-12 {
  line-height: 120%;
}

.lh-13 {
  line-height: 130%;
}

.lh-14 {
  line-height: 140%;
}

.lh-15 {
  line-height: 150%;
}

.lh-16 {
  line-height: 160%;
}

.lh-17 {
  line-height: 170%;
}

.fw-600 {
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: clip;
}

.main,
.header,
.footer {
  min-width: 0;
}

.container {
  max-width: 1376px;
  padding-inline: var(--gutter);
  margin-inline: auto;
}

.news-form {
  display: flex;
  gap: 8px;

  &-iw {
    display: flex;
    flex: 1;
  }

  &-bw {
    flex-shrink: 0;
  }

  &-input,
  &-btn {
    font-size: var(--fs-base);
    line-height: normal;
    padding: 13px 16px;
    outline: none;
    box-shadow: none;
  }

  &-input {
    font-weight: 400;
    min-width: 0;
    width: 100%;
    border: 1px solid var(--color-gray-100);
    border-radius: var(--radius-xs);

    @include placeholder {
      color: red;
      opacity: 1;
      color: var(--color-gray-500);
    }

    &:focus {
      @include placeholder {
        color: var(--color-gray-700);
      }
    }
  }

  &-btn {
    background-color: var(--color-gray-600);
    border: 1px solid var(--color-gray-600);
    color: var(--color-white);
    font-weight: 600;
    border-radius: var(--radius-sm);
    cursor: pointer;
    text-align: center;
    box-shadow: var(--btn-shadow);

    &:hover {
      border-color: var(--color-gray-500);
      background-color: var(--color-gray-500);
    }
  }
}

.social {
  padding: 0 10px;
  margin: 0;
  list-style: none;
  font-size: 21px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 27px;

  li {
    display: inline-flex;
    align-items: center;
  }

  a {
    color: var(--color-gray-700);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    aspect-ratio: 1/1;
    height: auto;

    &:hover {
      color: var(--color-green-600);
    }
  }

  .icon-youtube {
    font-size: 1.1428em;
  }
}

.hl {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  &-link {
    color: var(--color-green-600);
    text-decoration: none;
    align-self: center;

    &:hover {
      color: var(--color-green-700);
    }
  }
}

.bg-str {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cd {
  display: flex;
  flex-direction: column;

  &-img {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-lg);
    width: 100%;
    height: auto;
    aspect-ratio: 310/240;

    @include media(sm) {
      aspect-ratio: 300/240;
    }

    img {
      @extend .bg-str;
    }
  }

  &-info {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex: 1;

    &-up {
      flex: 1;
    }

    &-bot {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      padding-right: 8px;

      &__l {
        color: var(--color-gray-500);
        font-size: var(--fs-xs);
        line-height: 150%;
        display: grid;
        grid-template-columns: unset;
        gap: 7px;
      }

      &__lu {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 2px 8px;
        color: var(--color-gray-700);
      }

      &__ld {
        display: flex;
        flex-wrap: wrap;
        gap: 2px 8px;

        span {
          &:first-child {
            white-space: nowrap;
          }
        }
      }

      &__lp {
        font-size: var(--h5);
        line-height: 100%;
        font-weight: 600;
        color: var(--color-green-600);
        white-space: nowrap;
      }

      &__r {
        flex-shrink: 0;
        align-self: flex-end;
      }
    }
  }

  &-btn {
    border-radius: var(--radius-sm);
    background-color: var(--color-green-600);
    color: var(--color-white);
    box-shadow: var(--btn-shadow);
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
      background-color: var(--color-green-700);
    }

    .icon-cart {
      font-size: 24px;
      line-height: 1;

      @include media(md) {
        font-size: 20px;
      }
    }
  }

  &-ttl {
    line-height: 140%;
    color: var(--color-gray-700);
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--color-green-600);
      }
    }
  }

  &-sub {
    font-size: var(--fs-sm);
    line-height: 150%;
    color: var(--color-gray-500);
  }
}

.cr {
  &-img {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-2xl);
    width: 100%;
    height: auto;
    aspect-ratio: 644/310;

    @include media(sm) {
      aspect-ratio: 300/310;
    }

    img {
      @extend .bg-str;
    }
  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 8px 0 0;

    @include media(lg) {
      padding-right: 0;
    }

    &__l {
      display: flex;
      flex: 1;
      gap: 4px 16px;
    }

    &__r {
      @include media(sm) {
        display: none;
      }
    }

    &-txt {
      flex: 1;
      align-self: center;
    }
  }

  &-logo {
    align-self: flex-start;
    flex: 0 0 48px;
    width: 48px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--color-white);

    img {
      max-height: 100%;
    }
  }

  &-ttl {
    font-weight: 600;
    line-height: 130%;
    color: var(--color-gray-700);
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--color-green-600);
      }
    }
  }

  &-sub {
    font-size: var(--fs-sm);
    line-height: 150%;
    color: var(--color-green-700);
  }

  &-btn {
    display: block;
    font-weight: 600;
    font-size: var(--fs-base);
    line-height: normal;
    border-radius: var(--radius-sm);
    box-shadow: var(--btn-shadow);
    background-color: var(--color-white);
    color: var(--color-gray-700);
    min-width: 145px;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;

    @include media(lg) {
      font-size: var(--fs-sm);
      min-width: unset;
    }

    &:hover {
      background-color: var(--color-gray-100);
    }
  }
}

.ac {
  display: flex;
  gap: 16px;
  height: 480px;

  @include media(lg) {
    height: auto;
    flex-direction: column;
  }

  &-card {
    flex-basis: 136px;
    position: relative;
    border-radius: var(--radius-lg);
    overflow: hidden;
    transform: translateZ(0);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    @include media(lg) {
      display: flex;
      align-items: center;
    }

    @include media(md) {
      flex-basis: 108px;
    }

    &.active {
      flex-basis: calc(100% - (3 * 136px) - (3 * 16px));

      @include media(lg) {
        flex-basis: 400px;
        align-items: flex-end;
      }

      @include media(md) {
        flex-basis: 320px;
      }

      .ac-card-gradient {
        height: 50%;

        @include media(lg) {
          height: 100%;
        }
      }

      .ac-card-ttl {
        font-size: var(--h3);
      }

      .ac-card-content {
        padding: 48px;

        @include media(lg) {
          padding: 24px 32px;
        }

        &__in {
          rotate: 0deg;
          translate: 0 0;
        }
      }
    }

    &-img {
      position: absolute;
      z-index: 1;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.6;
      z-index: 2;
      transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      @include media(lg) {
        height: 100%;
      }
    }

    &-content {
      color: var(--color-white);
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      white-space: nowrap;
      padding: 32px;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      @include media(lg) {
        position: relative;
        padding: 24px 32px;
      }

      &__in {
        transform-origin: left bottom;
        rotate: -90deg;
        translate: 73px -15px;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        @include media(lg) {
          rotate: 0deg;
          translate: 0 0;
        }
      }
    }

    &-ttl {
      font-weight: 600;
      font-size: var(--h4);
      line-height: 130%;
      margin-bottom: 5px;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-sub {
      font-size: var(--fs-lg);
      line-height: 140%;
    }
  }
}
